<!-- <pre>{{section.data|json}}</pre> -->
<div class="table-responsive">
    <table class="table table-bordered table-sm mb-0">
        <thead>
            <tr class="matrix-header">
                <th>&nbsp;</th>
                <th class="" *ngFor="let col of section.columns">
                    <h5 class="text-capitalize">{{col.title}}</h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of section.rows" class="bg-light">
                <td class="matrix-header" style="min-width: 150px;" [ngbPopover]="row.summary"
                    triggers="mouseenter:mouseleave" placement="right">
                    <h5>
                        {{row.title}}
                        <!-- <fa-icon [icon]="['far','question-circle']" class="text-muted font-weight-light" size="xs">
                        </fa-icon> -->
                    </h5>
                </td>
                <td class="" *ngFor="let col of section.columns">
                    <div style="width: 350px;">
                        <app-panel [section]="getSection(row, col)" (click)="onShowItemDetails(row, col)">
                        </app-panel>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>