<div class="main-container">
    <div class="body-container" *ngIf="model" [style.zoom]="(zoom/100)">
        <ng-container [ngSwitch]="model.layout">
            <div class="container-fluid mt-2" *ngSwitchCase="'freeflow'">
                <app-freeflow-layout class="w-100" [layout]="model" (showEditor)="onShowEditor($event)">
                </app-freeflow-layout>
            </div>

            <app-split-layout *ngSwitchDefault class="w-100" [layout]="model" (showEditor)="onShowEditor($event)">
            </app-split-layout>
        </ng-container>
    </div>
</div>
<p-sidebar [(visible)]="editorVisible" [fullScreen]="true" styleClass="bg-light">
    <app-section-editor [mode]="mode" [section]="section" [(data)]="model" (onHide)="onHide()"
        (sectionSelected)="onSectionSelected($event)" (close)="onHide()" (update)="onSectionUpdated($event)">
    </app-section-editor>
</p-sidebar>

<div class="zoom-slider" *ngIf="model">
    <p-slider [(ngModel)]="zoom" [min]="50" [max]="100" [step]="10"></p-slider>
</div>