<app-splash-screen [isCustomTemplate]="isCustomTemplate" *ngIf="!model"></app-splash-screen>

<ng-container *ngIf="model">
    <div class="main-container">
        <div class="body-container" [style.zoom]="(zoom/100)">

            <ng-container [ngSwitch]="model.layout">
                <div class="container-fluid mb-5" *ngSwitchCase="'freeflow'">
                    <app-freeflow-layout class="w-100" [layout]="model" (showEditor)="onShowEditor($event)">
                    </app-freeflow-layout>
                </div>

                <app-split-layout *ngSwitchDefault class="w-100 ml-2 mr-2 mb-2" [layout]="model"
                    (showEditor)="onShowEditor($event)">
                </app-split-layout>
            </ng-container>
        </div>
    </div>
</ng-container>

<p-sidebar *ngIf="model" [(visible)]="showIntro" [fullScreen]="true" (onHide)="onHideIntro()" [showCloseIcon]="false">
    <app-introduction [model]="model" [sections]="sections" (close)="onHideIntro()" (proceed)="onProceed($event)">
    </app-introduction>
</p-sidebar>

<p-sidebar [(visible)]="editorVisible" [fullScreen]="true" (onHide)="onManageSectionEditor()" [showCloseIcon]="false">
    <app-section-editor [mode]="editorMode" [sections]="sections" [section]="section" [(data)]="model"
        (sectionSelected)="onManageSectionEditor($event)" (close)="onManageSectionEditor()"
        (update)="onSectionUpdated($event)" (customizeMatrix)="onCustomizeMatrix($event)">
    </app-section-editor>
</p-sidebar>
<p-sidebar [(visible)]="matrixEditorVisible" [fullScreen]="true" (onHide)="onManageSectionEditor()"
    [showCloseIcon]="false">

    <app-matrix-editor mode="view" [(section)]="section" [rowCode]="rowCode" [colCode]="colCode"
        (close)="onManageSectionEditor()" (itemChange)="onItemChanged($event, section)"
        (changeSection)="onShowEditor($event)">
    </app-matrix-editor>
</p-sidebar>

<div class="zoom-slider" *ngIf="model">
    <p-slider [(ngModel)]="zoom" [min]="50" [max]="100" [step]="10"></p-slider>
</div>

<p-sidebar [(visible)]="showExportSidebar" styleClass="bg-light" styleClass="ui-sidebar-md" position="right"
    (onHide)="showExportSidebar = false">
    <app-export-sidebar *ngIf="model" [model]="model" [filename]="filename" (close)="showExportSidebar = false">
    </app-export-sidebar>
</p-sidebar>

<p-sidebar [(visible)]="showThemeEditorSidebar" styleClass="bg-light" styleClass="ui-sidebar-md" position="right"
    (onHide)="showThemeEditorSidebar = false">
    <app-theme-editor *ngIf="model" [theme]="model.theme" (close)="showThemeEditorSidebar = false">
    </app-theme-editor>
</p-sidebar>