<div class="main-container">
    <div class="body-container">
        <ng-container [ngSwitch]="model.layout" *ngIf="model" [style.zoom]="(zoom/100)">
            <div class="container-fluid mb-5" *ngSwitchCase="'freeflow'">
                <app-freeflow-layout class="w-100" [layout]="model" (showEditor)="onShowEditor($event)">
                </app-freeflow-layout>
            </div>

            <app-split-layout *ngSwitchDefault class="w-100" [layout]="model" (showEditor)="onShowEditor($event)">
            </app-split-layout>
        </ng-container>

        <div class="container text-center" *ngIf="!model">
            <h5 class="alert mt-5">
                <fa-icon icon="spinner" [spin]="true" aria-hidden="true"></fa-icon> Loading model...

                If the desired model has not yet loaded, you can
                <a routerLink="/templates" class="text-nowrap font-weight-normal">
                    browse templates
                    <fa-icon icon="angle-right" class="ml-1"></fa-icon>
                </a>
            </h5>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="editorVisible" [fullScreen]="true" styleClass="bg-light">
    <app-section-editor [mode]="mode" [section]="section" [(data)]="model" (onHide)="onHide()"
        (sectionSelected)="onSectionSelected($event)" (close)="onHide()" (update)="onSectionUpdated($event)">
    </app-section-editor>
</p-sidebar>

<div class="zoom-slider" *ngIf="model">
    <p-slider [(ngModel)]="zoom" [min]="50" [max]="100" [step]="10"></p-slider>
</div>

<p-sidebar [(visible)]="showExportSidebar" styleClass="bg-light" styleClass="ui-sidebar-md" position="right"
    (onHide)="showExportSidebar = false">
    <app-export-sidebar *ngIf="model" [model]="model" [filename]="filename" (close)="showExportSidebar = false">
    </app-export-sidebar>
</p-sidebar>

<p-sidebar [(visible)]="showThemeEditorSidebar" styleClass="bg-light" styleClass="ui-sidebar-md" position="right"
    (onHide)="showThemeEditorSidebar = false">
    <app-theme-editor *ngIf="model" [theme]="model.theme" (close)="showThemeEditorSidebar = false">
    </app-theme-editor>
</p-sidebar>