<as-split [disabled]="true">
    <as-split-area size="50" class="p-1">
        <a class="btn btn-link" routerLink="/templates" title="Back to templates">
            <fa-icon [icon]="['far', 'arrow-alt-circle-left']" size="2x"></fa-icon>
        </a>

        <div class="p-5">
            <div class="d-flex justify-content-center align-self-center">
                <div class="w-75">
                    <h1>{{model.title}}</h1>

                    <div class="h4 text-muted font-weight-light mb-5 text-left">
                        <ngx-md [data]="model.summary"></ngx-md>
                    </div>

                    <div class=" text-center mb-5">
                        <img [src]="templateFileLocation + '/' + model.thumbnail" *ngIf="model.thumbnail" style="width: 300px;">
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary" (click)="onClose()">
                            Get started <fa-icon icon="chevron-right"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </as-split-area>
    <as-split-area size="50" class="p-1 bg-primary text-white">
        <div class="p-5">
            <div class="mb-4" [id]="section.code" *ngFor="let section of sections">
                <fa-icon *ngIf="section.icon && section.icon.length > 0" [icon]="section.icon" [fixedWidth]="true"
                    size="2x" class="float-left  mt-1">
                </fa-icon>

                <div class="ml-5">
                    <button class="pl-0 btn btn-link btn-sm text-white" (click)="onProceed(section.code)"
                        title="Jump to section">
                        <h5 class="mb-0 font-weight-normal">
                            {{section.title}}
                            <!-- <fa-icon icon="angle-right" class="ml-1"></fa-icon> -->
                        </h5>
                    </button>
                    <ngx-md class="text-light" [data]="section.summary"></ngx-md>
                </div>
            </div>

            <div class="ml-5 mt-4">
                <button class="btn btn-light" (click)="onProceed('')">
                    Step by step guide
                    <fa-icon icon="angle-right" class="ml-1"></fa-icon>
                </button>
            </div>

        </div>
    </as-split-area>
</as-split>