<div class="container text-center">
    <h5 class="m-5">
        <ng-container *ngIf="isCustomTemplate">
            <fa-icon icon="info-circle" class="mr-1"></fa-icon>
            To load a custom template visit
        </ng-container>

        <ng-container *ngIf="!isCustomTemplate">
            <fa-icon icon="spinner" [spin]="true" aria-hidden="true"></fa-icon> Loading model...
            If the desired model has not yet loaded, you can browse
        </ng-container>

        <a routerLink="/templates" class="text-nowrap font-weight-normal">
            template hub
            <fa-icon icon="angle-right" class="ml-1"></fa-icon>
        </a>
    </h5>
</div>
