<div class="container mt-5" *ngIf="templateDetails">
    <h3 class="mb-4 text-center">
        {{templateDetails.title}}
        <button class="btn btn-link" type="button" placement="bottom" [ngbPopover]="popContent"
            popoverClass="pop-content">
            <fa-icon [icon]="['far', 'question-circle']" class="text-muted"></fa-icon>
        </button>
    </h3>
    <ng-template #popContent>
        <div class="p-2">
            <ngx-md [data]="templateDetails.summary"></ngx-md>
        </div>
    </ng-template>

    <div *ngIf="templateDetails.templates" class="clearfix d-flex justify-content-center flex-wrap">
        <a [routerLink]="[template.code]" class="mr-4 mb-4 card select-card custom-shadow"
            *ngFor="let template of templateDetails.templates">
            <div class="p-3">
                <h4 class="card-title text-truncate mb-2">{{template.title}}</h4>
                <div class="card-text small">
                    <ngx-md>{{template.summary | truncate:240:'...'}}</ngx-md>
                </div>
            </div>
        </a>
    </div>
</div>