<div *ngIf="!recordToEdit">
    <div *ngFor="let record of getOrderedList(); let idx = index">
        <div class="row">
            <div class="col-md-2">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm btn-light text-muted" *ngIf="list && idx < (list.length - 1)"
                        (click)="onMovedown(idx)">
                        <fa-icon icon="long-arrow-alt-down" [fixedWidth]="true"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-light text-muted" (click)="onMoveup(idx)" *ngIf="idx > 0"
                        [ngStyle]="{'margin-left.rem': list && idx === (list.length - 1) ? 2 : 0}">
                        <fa-icon icon="long-arrow-alt-up" [fixedWidth]="true"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="col-md-8 pl-0">
                <h6>
                    {{record.title}}
                    <span class="badge badge-info" *ngIf="hasDatatype">{{record.datatype}}</span>
                </h6>
                <div class="text-muted">{{record.summary}}</div>
                <ul *ngIf="hasDatatype && record.datatype === 'select' && record.options" class="mt-2 text-muted">
                    <li *ngFor="let option of record.options">{{option.title}}</li>
                </ul>
            </div>
            <div class="col-md-2">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm btn-link text-primary" (click)="onEdit(idx)">
                        <fa-icon icon="pencil-alt" [fixedWidth]="true"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-link text-danger" (click)="onRemove(idx)">
                        <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <hr *ngIf="list && idx < (list.length - 1)">
    </div>

    <div class="mt-2">
        <button class="btn btn-sm btn-outline-primary" (click)='onAdd()'>
            <fa-icon icon="plus" class="mr-1"></fa-icon> Add
        </button>
    </div>
</div>

<app-matrix-record-customizer *ngIf="recordToEdit" [hasDatatype]="hasDatatype" [record]="recordToEdit"
    (cancel)="onCancelEdit()" (update)="onUpdateEdit($event)">
</app-matrix-record-customizer>