<div class="table-responsive matrix">
    <table class="table table-borderless table-sm mb-0">
        <thead>
            <tr class="text-center">
                <th class="border-left-0 border-bottom-0 text-center">
                    <button class="btn btn-link btn-sm text-muted btn-edit-hover rounded-0"
                        (click)="onShowEditor({mode: 'VIEW', section: section})">
                        customize <fa-icon icon="wrench" class="ml-1"></fa-icon>
                    </button>
                </th>
                <th class=" border-bottom-0" *ngFor="let col of section.columns">
                    <div class="text-capitalize h6 p-1" [ngbPopover]="col.summary" triggers="mouseenter:mouseleave"
                        placement="bottom">
                        {{col.title}}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of section.rows">
                <td class="matrix-label-cell border-left-0">
                    <div class="pl-2 mt-2 h6" [ngbPopover]="row.summary" triggers="mouseenter:mouseleave"
                        placement="right">
                        {{row.title}}
                    </div>
                </td>
                <td *ngFor="let col of row.columns;let idx = index" [style.background-color]="col.cellTheme.bgColor"
                    [style.color]="col.cellTheme.color">

                    <div class="mb-1" style="width: 375px;">
                        <app-panel [sectionCodes]="sectionCodes" [parentCode]="section.code"
                            [section]="row.columns[idx]" (showEditor)="onShowItemDetails(row.columns[idx])"
                            (drop)="onDrop($event)">
                        </app-panel>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>