<div class="metadata">
    <div *ngIf="data.notes && data.notes.length > 0">
        <small>{{data.notes.length}}</small>
        <fa-icon size="xs" [icon]="['far', 'comments']" class="ml-1"></fa-icon>
    </div>
    <div *ngIf="data.links && data.links.length > 0">
        <small>{{data.links.length}}</small>
        <fa-icon size="xs" icon="link" class="ml-1"></fa-icon>
    </div>
    <div *ngIf="data.tasks && data.tasks.length > 0">
        <small>{{data.tasks.length}}</small>
        <fa-icon size="xs" icon="tasks" class="ml-1"></fa-icon>
    </div>
</div>