<div class="layout-panel">
    <div class="btn-group btn-group-sm btn-hover" style="z-index: 1;">
        <button class="btn btn-link text-muted" (click)="onShowEditor({mode: 'EDIT', section: section})">
            <fa-icon icon="pencil-alt"></fa-icon>
        </button>
        <button class="btn btn-link text-muted" (click)="onShowEditor({mode: 'VIEW', section: section})">
            <fa-icon icon="expand-alt"></fa-icon>
        </button>
    </div>
    <div class=" p-2">
        <div *ngIf="section.data" class="text-primary float-right mr-2">
            <sup *ngIf="section.data.notes && section.data.notes.length > 0" class="ml-2">
                <small>{{section.data.notes.length}}</small>
                <fa-icon size="xs" [icon]="['far', 'comments']" class="ml-1"></fa-icon>
            </sup>

            <sup *ngIf="section.data.links && section.data.links.length > 0" class="ml-2">
                <small>{{section.data.links.length}}</small>
                <fa-icon size="xs" icon="link" class="ml-1"></fa-icon>
            </sup>

            <sup *ngIf="section.data.tasks && section.data.tasks.length > 0" class="ml-2">
                <small>{{section.data.tasks.length}}</small>
                <fa-icon size="xs" icon="tasks" class="ml-1"></fa-icon>
            </sup>
        </div>

        <div class="h5 font-weight-light text-brand" *ngIf="section.isDirty || (section.title && section.title.length > 0)">
            <fa-icon *ngIf="section.icon && section.icon.length > 0" size="sm" [icon]="section.icon" class="text-brand">
            </fa-icon>
            {{section.title}}
            <sup *ngIf="section.isDirty">
                <fa-icon icon="asterisk" size="xs" class="text-danger ml-1" title="Unsaved changes">
                </fa-icon>
            </sup>
        </div>
        <div class="ml-4"
            *ngIf="!(section.data && (section.data.text || (section.data.list && section.data.list.length > 0)))">
            <ngx-md class="text-muted font-italic" [data]="section.summary"></ngx-md>
        </div>
        <div *ngIf="section.data">
            <div *ngIf="section.data.text && section.datatype === 'text'" >
                <ngx-md [data]="section.data.text"></ngx-md>
            </div>

            <div *ngIf="section.data.selectedValue && section.datatype === 'select'" class="badge badge-secondary">
                {{getSelectedValue(section.data.selectedValue)}}
            </div>

            <div *ngIf="section.data.list && section.data.list.length > 0">
                <button *ngFor="let item of section.data.list" (click)="onShowItemDetails(item, section)"
                    class="btn btn-sm btn-link hover-link text-dark w-100 text-left rounded-0 text-truncate"
                    [title]="item.title">

                    <span class="text-primary float-right">
                        <span *ngIf="item.notes && item.notes.length > 0" class="ml-2">
                            <small>{{item.notes.length}}</small>
                            <fa-icon size="xs" [icon]="['far', 'comments']" class="ml-1"></fa-icon>
                        </span>
                        <span *ngIf="item.links && item.links.length > 0" class="ml-2">
                            <small>{{item.links.length}}</small>
                            <fa-icon size="xs" icon="link" class="ml-1"></fa-icon>
                        </span>
                        <span *ngIf="item.tasks && item.tasks.length > 0" class="ml-2">
                            <small>{{item.tasks.length}}</small>
                            <fa-icon size="xs" icon="tasks" class="ml-1"></fa-icon>
                        </span>
                    </span>
                    <fa-icon icon="angle-right" size="sm" class="mr-1 text-muted"></fa-icon>
                    {{item.title}}
                </button>
            </div>
        </div>
    </div>
</div>