<div class="layout-panel layout-panel-{{section.datatype}}" [ngClass]="{'panel-is-dirty': section && section.isDirty}"
    [style.background-color]="section.theme.bgColor" [style.color]="section.theme.color">
    <div class="btn-group btn-group-sm btn-hover" style="z-index: 1;margin-top: -0.75rem;">
        <button class="btn btn-light" (click)="onShowEditor({mode: 'VIEW', section: section})">
            <fa-icon icon="expand-alt"></fa-icon>
        </button>
    </div>
    <div>
        <app-metadata *ngIf="section.data" [data]="section.data"></app-metadata>
        <div class="h6"
            *ngIf="(section.title && section.title.length > 0 && !(section.data && section.data.image && section.datatype === 'image'))">
            <fa-icon *ngIf="section.icon && section.icon.length > 0" size="sm" [icon]="section.icon">
            </fa-icon>
            {{section.title}}
        </div>
        <div *ngIf="!(section.data && (section.data.text || 
                                        section.data.selectedValue || 
                                        section.data.image || 
                                        (section.data.list && section.data.list.length > 0)))">
            <ngx-md class="small font-italic" [data]="section.summary"></ngx-md>
        </div>
        <div *ngIf="section.data" [ngSwitch]="section.datatype">
            <ng-container *ngSwitchCase="'text'">
                <div>
                    <ngx-md *ngIf="section.data.text" [data]="section.data.text"></ngx-md>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'select'">
                <div *ngIf="section.data.selectedValue" class="badge badge-secondary">
                    {{getSelectedValue(section.data.selectedValue)}}
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'image'">
                <div class="text-center align-middle">
                    <img *ngIf="section.data.image" [src]="section.data.image"
                        [style.max-height.px]="section.properties.height"
                        [style.max-width.px]="section.properties.width" />
                </div>
            </ng-container>

            <div *ngSwitchCase="'list'" style="min-height: 40pt;" [id]="section.colCode + '_' + section.rowCode"
                cdkDropList (cdkDropListDropped)="cdkDrop($event)" [cdkDropListData]="section"
                [cdkDropListConnectedTo]="sectionCodes">
                <div *ngIf="section.data.list && section.data.list.length > 0">
                    <ng-container *ngFor="let item of section.data.list">
                        <button class="btn panel-listitem-{{section.properties.view}}"
                            (click)="onShowItemDetails(item, section)" [title]="item.title"
                            [style.background-color]="section.theme.tile.bgColor"
                            [style.color]="section.theme.tile.color" cdkDrag>
                            <app-metadata [data]="item"></app-metadata>
                            <div class="item-text">
                                {{item.title}}
                            </div>
                        </button>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>