<as-split *ngIf="layout" [direction]="layout.orientation">
    <ng-template ngFor let-section [ngForOf]="layout.children" let-icol="index">
        <as-split-area [order]="icol" [size]="section.size">
            <ng-container [ngSwitch]="section.type">
                <app-panel [section]="section" *ngSwitchCase="'panel'" (showEditor)="onShowEditor($event)">
                </app-panel>
                <app-split-layout *ngSwitchCase="'container'" [layout]="section" (showEditor)="onShowEditor($event)">
                </app-split-layout>
            </ng-container>
        </as-split-area>
    </ng-template>
</as-split>