<div class="pane" *ngIf="config">
    <div class="pane-header">
        <button class="btn btn-sm btn-link text-white float-right" (click)="onClose()">
            <fa-icon icon="times" size="lg"></fa-icon>
        </button>

        <h4>
            <fa-icon [icon]="['fab', 'github']" class="mr-1" size="sm"></fa-icon>
            <span *ngIf="!config.isGitspace"> Initialize this Gitspace</span>
            <span *ngIf="config.isGitspace"> Select artifact

                <button class="btn btn-sm btn-link text-white ml-2" (click)="reloadGitspace()">
                    <fa-icon icon="sync"></fa-icon>
                </button>

            </span>
        </h4>
    </div>
    <div class="pane-body">
        <div class="container pt-3">
            <div *ngIf="!config.isGitspace" class="alert bg-light">
                This is not a valid Gitspace.
            </div>

            <div *ngIf="config.isGitspace">
                <div *ngIf="!files || files.length === 0">
                    <div class="alert alert-warning">
                        There are no artifacts in this Gitspace yet.
                    </div>

                    <div>

                        Switch to another <b>Git</b>space or proceed by creating your first artifact in this
                        <b>Git</b>space

                    </div>
                </div>

                <div *ngFor="let file of files">
                    <a class="btn btn-link" (click)="onSelect(file)">{{file.name}}
                        <span class="badge badge-info">{{file.size | filesize}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pane-footer">
        <button class="btn btn-sm btn-success mr-2" (click)="onCreateArtifact()">
            <fa-icon icon="plus" class="mr-1"></fa-icon>
            create new artifact
        </button>
        <button class="btn btn-sm btn-default mr-1" (click)="onClose()">
            <fa-icon icon="times" class=" mr-1"></fa-icon>
            Close
        </button>
    </div>
</div>