<div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="filename" disabled="disabled">
    <div class="input-group-append">
        <ng-container *ngIf="isDirty">
            <button class="btn btn-sm btn-light border text-primary" (click)="onSave()" title="Save updated data file">
                <fa-icon icon="save" [fixedWidth]="true"></fa-icon>
            </button>
            <button class="btn btn-sm btn-light border text-danger" (click)="onReset()" title="Discard changes">
                <fa-icon icon="redo" [fixedWidth]="true"></fa-icon>
            </button>
        </ng-container>
        <button class="btn btn-sm btn-light border" title="Close" *ngIf="!isDirty" (click)="onClose()">
            <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
        </button>
    </div>
</div>