<div ngbDropdown display="dynamic" placement="bottom-right">
    <a class="btn  btn-default" ngbDropdownToggle>
        <fa-icon [icon]="['fab', 'github']" class="mr-1 text-brand"></fa-icon>
        <span *ngIf="config">
            {{config.owner}}/{{config.repo}}
        </span>
        <a (click)="connectToGithub($event)" *ngIf="!config">
            <b>Git</b>
            <span class="pr-1">Space</span>
        </a>
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
        <a ngbDropdownItem (click)="onShowFiles()">
            <fa-icon [icon]="['far', 'file-alt']" [fixedWidth]="true" class="mr-1"></fa-icon>
            Open
        </a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem (click)="connectToGithub()">
            <fa-icon [icon]="['fab', 'github']" [fixedWidth]="true" class="mr-1"></fa-icon>
            Change Gitspace
        </a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem title="Switch to LocalSpace" (click)="onSwitchToLocalSpace()">
            <fa-icon icon="folder-open" [fixedWidth]="true" class="mr-1 text-brand"></fa-icon>
            Switch to <b>Local</b>Space
        </a>
    </div>
</div>