<div *ngIf="layout" class="d-flex" [ngClass]="{
        'flex-column': layout.orientation === 'vertical', 
        'flex-row align-content-start flex-wrap': layout.orientation === 'horizontal'
}">
    <ng-template ngFor let-section [ngForOf]="layout.children" let-icol="index">

        <ng-container [ngSwitch]="section.type">

            <app-panel *ngSwitchCase="'panel'" class="mt-2" [section]="section" [ngStyle]="{'flex':section.size}"
                (showEditor)="onShowEditor($event)">
            </app-panel>

            <app-matrix *ngSwitchCase="'matrix'" class="mt-2" [section]="section" (showEditor)="onShowEditor($event)">
            </app-matrix>

            <app-freeflow-layout *ngSwitchCase="'container'" [layout]="section" (showEditor)="onShowEditor($event)">
            </app-freeflow-layout>

        </ng-container>

    </ng-template>
</div>