<app-toolbar *ngIf="templateDetails" [version]="version" [currentTemplate]="currentTemplate" [landingUrl]="landingUrl"
    purposeTitle="Product" [title]="templateDetails.title" [templates]="templateDetails.templates"
    [isModelDirty]="isModelDirty" (closeWorkspace)="closeWorkspace()" (save)="save()" (reset)="reset()"></app-toolbar>
<!-- 
<div class="m-2">
    <p-fileUpload #configUploader name="myfile[]" *ngIf="!isModelDirty" customUpload="true"
        (uploadHandler)="onFileUpload($event, configUploader)" maxFileSize="1000000" mode="basic"
        accept="application/json" [auto]="true" styleClass="ui-button-secondary mr-2" chooseLabel="Open file"
        chooseIcon="fa fa-file">
    </p-fileUpload>

    <app-gdrive></app-gdrive>

</div> -->

<router-outlet></router-outlet>