<div class="container mt-5">
    <h3 class="mb-4 text-center">
        Product propositions models
        <button class="btn btn-link" type="button" placement="bottom" [ngbPopover]="popContent" popoverClass="pop-content">
            <fa-icon [icon]="['far', 'question-circle']" class="text-muted"></fa-icon>
        </button>
    </h3>
    <ng-template #popContent>
        <div class="p-2">
            <p>Product propositions are your company’s elevator pitch.</p>
            <p>They’re your product’s central thesis statement that succinctly communicates: </p>
            <ul>
                <li>The benefits for your users</li>
                <li>How you're better than your competitors</li>
            </ul>

            Product-market fit happens when your product’s value proposition meets your target user’s underserved needs.
            <!-- <button class="btn btn-light" (click)="signIn()">Sign in</button> -->
        </div>
    </ng-template>

    <div *ngIf="templates" class="clearfix d-flex justify-content-center flex-wrap">
        <a [routerLink]="[template.code]" class="mr-4 mb-4 card select-card custom-shadow"
            *ngFor="let template of templates">
            <div class="p-3">
                <h4 class="card-title text-truncate mb-2">{{template.title}}</h4>
                <div class="card-text small">
                    <ngx-md>{{template.summary | truncate:240:'...'}}</ngx-md>
                </div>
            </div>
        </a>
    </div>

</div>