<div class="container-fluid">
    <div class="row border-bottom">
        <div class="col-md-6 pl-0">
            <div class="btn-group btn-group-lg" *ngIf="templates && templates.length > 0">
                <div ngbDropdown display="dynamic">
                    <button class="btn btn-light btn-lg bg-default rounded-0" id="dropdownBasic1" ngbDropdownToggle
                        [title]="currentTemplate ? currentTemplate.summary : 'Registered templates'">
                        <span class=" pr-1" *ngIf="currentTemplate">{{currentTemplate.title}}</span>
                        <span class=" pr-1" *ngIf="!currentTemplate">Select template</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="ml-3">
                        <a ngbDropdownItem [routerLink]="[template.code]" *ngFor="let template of templates"
                            [title]="template.summary">
                            {{template.title}}
                        </a>
                    </div>
                </div>
                <button *ngIf="currentTemplate && !isModelDirty" class="btn btn-link btn-sm text-danger" title="Close"
                    (click)="closeWorspace()">
                    <fa-icon icon="times" size="small"></fa-icon>
                    <small class="ml-1">Close</small>
                </button>
            </div>

            <div class="alert alert-warning" *ngIf="templates && templates.length === 0">
                <fa-icon icon="triangle-exclamation"></fa-icon>
                No value proposition model templates registered yet.
            </div>
        </div>
        <div class="col-md-6 text-right pt-2 pr-2">
            <div *ngIf="isModelDirty">
                <span class="pt-1 pl-2 pr-2 pb-2 m-2 alert-warning">
                    <fa-icon icon="info-circle" class=" mr-1"></fa-icon>
                    Unsaved changes found.
                </span>
                <button class="btn btn-primary btn-sm mr-2" (click)="save()">
                    <fa-icon icon="save"></fa-icon> Save
                </button>
                <button class="btn btn-light btn-sm bg-default" (click)="reset()">
                    <fa-icon icon="redo"></fa-icon> Reset
                </button>
            </div>

            <div *ngIf="!isModelDirty">
                <p-fileUpload #configUploader name="myfile[]" *ngIf="!isModelDirty" customUpload="true"
                    (uploadHandler)="onFileUpload($event, configUploader)" maxFileSize="1000000" mode="basic"
                    accept="application/json" [auto]="true" styleClass="ui-button-secondary" chooseLabel="Open file"
                    chooseIcon="fa fa-file">
                </p-fileUpload>
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>