<as-split *ngIf="layout" [direction]="layout.orientation">
    <ng-template ngFor let-section [ngForOf]="layout.children" let-icol="index">
        <as-split-area [order]="icol" [size]="section.size"
            [ngClass]="{'layout-panel pl-3 pr-2 pl-2 pt-2': section.type === 'panel'}">
            <ng-container [ngSwitch]="section.type">
                <div *ngSwitchCase="'panel'">
                    <div class="btn-group btn-group-sm float-right btn-hover">
                        <button class="btn btn-link text-muted" (click)="showEditor('EDIT', section)">
                            <fa-icon icon="pencil-alt"></fa-icon>
                        </button>
                        <button class="btn btn-link text-muted" (click)="showEditor('VIEW', section)">
                            <fa-icon icon="expand-alt"></fa-icon>
                        </button>
                    </div>
                    <div class="h5 font-weight-light">
                        <fa-icon *ngIf="section.icon && section.icon.length > 0" size="sm" [icon]="section.icon"
                            class="text-muted"></fa-icon>
                        {{section.title}}

                        <sup *ngIf="section.isDirty">
                            <fa-icon icon="asterisk" size="xs" class="text-danger ml-1" title="Unsaved changes">
                            </fa-icon>
                        </sup>

                        <span *ngIf="section.data && section.data.notes && section.data.notes.length > 0"
                            class="text-muted ml-2">
                            <small>{{section.data.notes.length}}</small>
                            <fa-icon size="xs" [icon]="['far', 'comments']" class="ml-1"></fa-icon>
                        </span>
                    </div>
                    <div class="ml-4"
                        *ngIf="!(section.data && (section.data.text || (section.data.list && section.data.list.length > 0)))">
                        <ngx-md class="text-muted font-italic" [data]="section.summary"></ngx-md>
                    </div>
                    <div *ngIf="section.data && section.data.text && section.datatype === 'text'" class=" ml-4">
                        <ngx-md [data]="section.data.text"></ngx-md>
                    </div>

                    <div *ngIf="section.data && section.data.list && section.data.list.length > 0">
                        <button *ngFor="let item of section.data.list" (click)="showItemDetails(item, section)"
                            class="btn btn-sm btn-light w-100 text-left rounded-0 text-truncate" [title]="item.title">
                            <span *ngIf="item && item.notes && item.notes.length > 0" class="text-muted float-right">
                                <small>{{item.notes.length}}</small>
                                <fa-icon size="xs" [icon]="['far', 'comments']" class="ml-1"></fa-icon>
                            </span>

                            <fa-icon icon="angle-right" size="sm" class="mr-1 text-muted"></fa-icon>
                            {{item.title}}
                        </button>
                    </div>
                </div>
                <app-layout-renderer *ngSwitchCase="'container'" [layout]="section"></app-layout-renderer>
            </ng-container>
        </as-split-area>
    </ng-template>
</as-split>