<as-split *ngIf="layout" [direction]="layout.orientation">
    <ng-template ngFor let-section [ngForOf]="layout.children" let-icol="index">
        <as-split-area [order]="icol" [size]="section.size" [ngClass]="{'layout-panel': section.type === 'panel'}">
            <ng-container [ngSwitch]="section.type">
                <div *ngSwitchCase="'panel'">
                    <div class="btn-group btn-group-sm float-right btn-hover">
                        <button class="btn btn-link text-muted" (click)="showEditor('EDIT', section)">
                            <fa-icon icon="pencil-alt"></fa-icon>
                        </button>
                        <button class="btn btn-link text-muted" (click)="showEditor('VIEW', section)">
                            <fa-icon icon="expand-alt"></fa-icon>
                        </button>
                    </div>
                    <div class="h5 font-weight-light">
                        <fa-icon *ngIf="section.icon && section.icon.length > 0" size="sm" [icon]="section.icon"
                            class="text-muted"></fa-icon>
                        {{section.title}}
                    </div>
                    <div class="ml-4">
                        <div *ngIf="section.datatype === 'text'">
                            <ngx-md *ngIf="section.data && section.data.text" [data]="section.data.text"></ngx-md>
                            <ngx-md *ngIf="!(section.data && section.data.text)" class="text-muted font-italic"
                                [data]="section.summary"></ngx-md>
                        </div>
                        <div *ngIf="section.datatype === 'list'">
                            <ngx-md *ngIf="!(section.data && section.data.list)" class="text-muted font-italic"
                                [data]="section.summary"></ngx-md>
                        </div>
                    </div>
                </div>
                <app-layout-renderer *ngSwitchCase="'container'" [layout]="section"></app-layout-renderer>
            </ng-container>
        </as-split-area>
    </ng-template>
</as-split>