<as-split *ngIf="layout" [direction]="layout.orientation" (dragEnd)="onDragEnd(-1, $event)">
    <ng-template ngFor let-child [ngForOf]="layout.children" let-icol="index">
        <as-split-area [order]="icol" [size]="child.size">
            <ng-container [ngSwitch]="child.type">
                <div *ngSwitchCase="'Panel'" class="p-3">
                    {{child.code}} | {{child.title}}
                    <div>
                        {{child.summary}}
                    </div>
                </div>
                <app-layout-renderer *ngSwitchCase="'Container'" [layout]="child"></app-layout-renderer>
            </ng-container>
        </as-split-area>
    </ng-template>
</as-split>