<div class="row">
    <div class="col-md-6">
        <div *ngIf="mode !== 'EDIT'">
            <div style="min-height: 200pt;cursor: pointer;" class="h4 bg-light p-3" (click)="onToggleMode('EDIT')"
                title="F2 to edit">
                <ngx-md [data]="data.text"></ngx-md>
            </div>
            <div class="mt-3 text-right">
                <button class="btn btn-primary" (click)="onToggleMode('EDIT')">
                    <fa-icon icon="pencil-alt"></fa-icon> Edit
                </button>
            </div>
        </div>
        <div *ngIf="mode === 'EDIT'">
            <textarea class="form-control form-control-lg bg-light" [appAutofocus]="mode === 'EDIT'"
                (keydown.control.enter)="onSave()" [placeholder]="placeholder" (keydown.escape)="onEscape($event)"
                rows="10" [(ngModel)]="dataToEdit.text"></textarea>
            <div class="mt-3 text-right">
                <button class="btn btn-primary mr-2" (click)="onSave()">
                    <fa-icon icon="save"></fa-icon> Save
                </button>
                <button class="btn btn-light" (click)="onToggleMode('VIEW')">
                    <fa-icon icon="times"></fa-icon> Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="offset-md-1 col-md-5">
        <app-notes [(list)]="data.notes" (listChange)="onListChange($event)"></app-notes>
    </div>
</div>