<ul class="navbar-nav ml-sm-auto">
    <li class="nav-item mr-2">
        <div class="input-group" *ngIf="templateLoaded">
            <!-- <div class="input-group-prepend" *ngIf="isModelDirty">
                <span class="input-group-text bg-warning">
                    <fa-icon icon="info-circle" class="ml-2 mr-1" title="Unsaved changes found."></fa-icon>
                </span>
            </div> -->
            <input type="text" class="form-control" [(ngModel)]="filename" (keydown.enter)="onSave()"
                [disabled]="!isModelDirty || !filename || filename.length === 0">
            <div class="input-group-append">
                <button class="btn btn-sm btn-light border text-primary" (click)="onSave()" *ngIf="canSave()"
                    title="Save updated data file">
                    <fa-icon icon="save" [fixedWidth]="true"></fa-icon>
                </button>

                <button class="btn btn-sm btn-light border" title="Close" *ngIf="!isModelDirty" (click)="onClose()">
                    <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
                </button>

                <button class="btn btn-sm btn-light border text-danger" (click)="onReset()" title="Discard changes"
                    *ngIf="isModelDirty">
                    <fa-icon icon="redo" [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div ngbDropdown display="dynamic" placement="bottom-right">
            <a class="btn  btn-default" id="dropdownBasic1" ngbDropdownToggle>
                <fa-icon icon="folder-open" class="mr-1 text-brand"></fa-icon>
                <b>Local</b>
                <span class="pr-1">Space</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                <sharedlib-load-localfile (fileLoaded)="onFileLoaded($event)" (error)="onFileLoadingError($event)"
                    errorMessage="Invalid file. System only supports CraftProduct compliant JSON files." label="Open"
                    accept="application/json" icon="file-alt" cssClass="btn-link text-dark" ngbDropdownItem
                    class="pl-3 pb-0 pt-0">
                </sharedlib-load-localfile>

                <div class="dropdown-divider"></div>
                <a ngbDropdownItem title="Switch to GitSpace" (click)="onSwitchToGitspace()">
                    <fa-icon [icon]="['fab', 'github']" [fixedWidth]="true" class="mr-1 text-brand">
                    </fa-icon>
                    Switch to <b>Git</b>Space
                </a>
            </div>
        </div>
    </li>
</ul>