<nav class="navbar navbar-expand-md" [ngClass]="{'bg-white': !isCollapsed}">
    <div class="container-fluid p-0">
        <button class="mr-2 btn btn-lg btn-light bg-white" (click)="onNavigateHome()">
            <img src="./assets/logo.png" height="28pt" />
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" style="z-index: 1001;">
            <fa-icon icon="bars" size="lg" class="text-muted"></fa-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">

            <app-template-info [template]="loadedTemplate"></app-template-info>

            <ul class="navbar-nav ml-sm-auto">
                <li>
                    <div class="mr-2" *ngIf="(filename && filename.length > 0) || isModelDirty">
                        <app-save-localfile [isDirty]="isModelDirty" [filename]="filename"></app-save-localfile>
                    </div>
                </li>
                <ng-container *ngIf="!isModelDirty">
                    <li>
                        <sharedlib-load-localfile (fileLoaded)="onFileLoaded($event)"
                            (error)="onFileLoadingError($event)"
                            errorMessage="Invalid file. System only supports CraftProduct compliant JSON files."
                            label="Open" accept="application/json" icon="upload" cssClass="bg-white mr-2">
                        </sharedlib-load-localfile>
                    </li>
                    <!-- <li>
                        <div class="btn-group mr-2" *ngIf="templateLoaded">
                            <button class="btn btn-link text-dark bg-white" (click)="onExport()" title="Export">
                                <fa-icon icon="file-export"></fa-icon>
                                <span class="d-inline d-md-none ml-2"> Export</span>
                            </button>
                        </div>
                    </li> -->
                </ng-container>
                <li class="nav-item">
                    <a class="btn btn-secondary mr-2" (click)="openAuthWindow()">
                        <fa-icon [icon]="['fab', 'github']" class="mr-1"></fa-icon>
                        Gitspace
                    </a>
                </li>
                <li class="nav-item">
                    <app-tools></app-tools>
                </li>
            </ul>
        </div>
    </div>
</nav>