<nav class="navbar navbar-expand-md bg-white">
    <div class="container-fluid p-0">
        <a class="text-dark h5 mt-2 mr-3 border-right pr-3" routerLink="/tools">
            <img src="./assets/logo.png" height="20pt" />
            <span class="font-weight-light ml-2">Product</span>
            <span class="text-brand">Purpose</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" style="z-index: 1001;">
            <fa-icon icon="bars" size="lg" class="text-muted"></fa-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">

            <app-template-info></app-template-info>

            <ul class="navbar-nav ml-sm-auto">
                <li *ngIf="isModelDirty">
                    <app-save-localfile></app-save-localfile>
                </li>
                <li *ngIf="!isModelDirty && templateLoaded">
                    <button class="btn btn-link" (click)="onExport()">
                        <fa-icon icon="download"></fa-icon>
                    </button>
                </li>
                <li class="nav-item">
                    <app-tools></app-tools>
                </li>
            </ul>
        </div>
    </div>
</nav>