<div class="pane">
    <div class="pane-header">
        <button class="btn btn-sm btn-link text-white float-right" (click)="onClose()">
            <fa-icon icon="times" size="lg"></fa-icon>
        </button>

        <h4>
            <fa-icon icon="file-export" class="mr-1" size="sm"></fa-icon>
            Export
        </h4>
    </div>
    <div class="pane-body">
        <div class="container pt-3" *ngIf="model">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="options.mainSlide.title">
            </div>
            <div class="form-group">
                <label for="name">Summary</label>
                <textarea class="form-control" rows="5" [(ngModel)]="options.mainSlide.summary"></textarea>
            </div>
            <div class="form-group">
                <label>Include</label>
                <div class="mt-1">
                    <input type="checkbox" [(ngModel)]="options.includeEmptySections"> Empty sections <br>
                    <input type="checkbox" [(ngModel)]="options.includePaging"> Page numbers <br>
                    <!-- <br>
                    <input type="checkbox" [(ngModel)]="options.includeDescription"> Description <br> -->
                    <input type="checkbox" [(ngModel)]="options.includeNotes"> Notes <br>
                </div>
            </div>
        </div>
    </div>
    <div class="pane-footer">
        <button class="btn btn-sm btn-primary mr-1" (click)="exportToPptx()">
            <fa-icon icon="file-powerpoint" class=" mr-1"></fa-icon>
            Powerpoint
        </button>
        <!-- <button class="btn btn-sm btn-primary mr-1">
            <fa-icon icon="file-pdf" class=" mr-1"></fa-icon>
            PDF
        </button> -->
    </div>
</div>