<div class="main-container">
    <div class="body-container">
        <div class="container-fluid ">
            <div *ngIf="!details">
                <fa-icon icon="spinner" [spin]="true" aria-hidden="true"></fa-icon> loading...
            </div>

            <div class="row  mt-4" *ngIf="details">
                <div class="col-md-2" *ngIf="details.groups && details.groups.length > 0">
                    <div class="mt-5 pt-5">
                        <div class=" alert">
                            <div *ngFor="let group of details.groups" class="">
                                <h6 class="text-muted">{{group.title}} </h6>
                                <ul class="small list-unstyled" *ngIf="group.list && group.list.length > 0">
                                    <li class="p-1" [ngClass]="{'bg-white': selectedCode === item.code}"
                                        *ngFor="let item of group.list">
                                        <a class="text-dark" routerLink="/templates"
                                            [queryParams]="{ group: group.code, code: item.code  }"
                                            queryParamsHandling="merge">
                                            {{item.title}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="text-center">
                        <h1 class="mb-3">
                            {{details.title}}
                            <!-- <button class="btn btn-link" type="button" (click)="isCollapsed = !isCollapsed">
                                <fa-icon [icon]="['far', 'question-circle']" class="text-muted"></fa-icon>
                            </button> -->
                        </h1>
                        <!-- <ng-template #popContent> -->
                        <div class="pb-4">
                            <ngx-md [data]="details.summary"></ngx-md>
                        </div>
                        <!-- </ng-template> -->

                        <div class="alert alert-secondary rounded-0 text-left m-3 border-0"
                            style="border-left: solid 3px #aaa!important;" *ngIf="selectedGroup">
                            <a routerLink="/templates" class="text-muted float-right" *ngIf="selectedCode">
                                <fa-icon icon="times"></fa-icon>
                            </a>
                            <h6 class="mb-0">{{selectedGroup.title}}</h6>
                            <small class="text-muted">{{selectedGroup.summary}}</small>
                        </div>

                        <div class="clearfix d-flex justify-content-center flex-wrap">

                            <div class="m-2 card select-card custom-shadow alert-primary">
                                <h6 class="bg-light border-bottom p-3 card-title">Use custom template</h6>
                                <div class="p-2">
                                    <div class="small">
                                        Can't find a template? Use your own template.
                                        <div class="m-2">
                                            <sharedlib-load-localfile (fileLoaded)="onTemplateFileLoaded($event)"
                                                (error)="onFileLoadingError($event)"
                                                errorMessage="Invalid file. System only supports CraftProduct compliant YAML files."
                                                label="Open template file" accept="application/x-yaml" icon="upload"
                                                cssClass="btn-sm btn-primary">
                                            </sharedlib-load-localfile>
                                        </div>

                                        <div class="text-right">
                                            <a target="blank" [href]="documentationUrl">
                                                learn here
                                                <fa-icon icon="angle-right" class="ml-1"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ng-container *ngIf="filteredList && filteredList.length > 0">
                                <a [routerLink]="[redirectTo, item.code]" [queryParams]="{view: 'intro'}"
                                    queryParamsHandling="merge" class="m-2 card select-card custom-shadow text-center"
                                    *ngFor="let item of filteredList" [title]="item.title" style="overflow: hidden;">
                                    <h6 class="bg-light border-bottom p-3 card-title text-truncate mb-0">{{item.title}}
                                    </h6>
                                    <div class="p-3">
                                        <img [src]="templateFileLocation + '/' + item.thumbnail" *ngIf="item.thumbnail">

                                        <div class="card-text small text-left">
                                            <ngx-md>{{item.summary | truncate:125:'...'}}</ngx-md>
                                        </div>
                                    </div>
                                </a>
                            </ng-container>

                            <div class="m-2 select-card custom-shadow alert-warning pt-5"
                                *ngIf="!filteredList || filteredList.length === 0">
                                <fa-icon icon="exclamation-triangle"></fa-icon>
                                No templates registered yet.
                                <div class="text-right mt-2 small">
                                    <a target="blank" class="btn btn-link btn-sm" [href]="documentationUrl">
                                        learn here
                                        <fa-icon icon="angle-right" class="ml-1"></fa-icon>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>