<div *ngFor="let item of list;let idx = index">
    <div *ngIf="!item.editing">
        <div class="small text-muted text-uppercase">{{item.timestamp | date:'mediumDate'}}</div>
        <div class="ml-3 border-left pt-0 pl-3 pr-2 pb-4">
            <div class="btn-group btn-group-sm float-right">
                <button class="btn btn-link text-muted" (click)="editItem(item)">
                    <fa-icon icon="pencil-alt" size="sm"></fa-icon>
                </button>
                <button class="btn btn-link text-muted" (click)="remove(idx)">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
            <ngx-md [data]="item.note"></ngx-md>
        </div>
    </div>

    <div *ngIf="item.editing" class="p-3 bg-light">
        <textarea class="form-control form-control-sm" [appAutofocus]="item.editing" [(ngModel)]="item.note"
            (keydown.control.enter)="updateItem(item)" (keydown.escape)="cancelUpdatingItem($event, item)"
            placeholder="update note..."></textarea>
        <div>
            <div class="btn-group btn-group-sm float-right">
                <button class="btn btn-link" (click)="updateItem(item)">
                    <fa-icon icon="save" size="sm" class="mr-1"></fa-icon> <b>UPDATE</b>
                </button>
                <button class="btn btn-link text-muted" (click)="cancelUpdatingItem(null, item)">
                    <fa-icon icon="times" class="mr-1"></fa-icon> <b>CANCEL</b>
                </button>
            </div>

            <div class="small text-muted pt-2"> - {{item.timestamp | date:'mediumDate'}}</div>
        </div>
    </div>

</div>

<div class="pb-3">

    <div (click)="showAddNoteEditor()" *ngIf="!isEditorVisible" style="cursor:pointer"
        class="bg-light rounded text-muted p-3" title="click to add note">
        <i>click to add note</i>
    </div>

    <div *ngIf="isEditorVisible">
        <textarea type="text" class="form-control bg-light form-control-sm" rows="3" [appAutofocus]="isEditorVisible === true"
            [(ngModel)]="newRecord.note" (keydown.control.enter)="add()" (keydown.escape)="onCancel($event)"
            placeholder="add note..."></textarea>

        <div class="text-right mt-2">
            <button class="btn btn-light bg-default btn-sm" type="button" (click)="add()">
                <fa-icon icon="check"></fa-icon> Add note
            </button>
        </div>
    </div>
</div>