<div *ngIf="data">
    <div *ngIf="mode !== 'EDIT'">
        <div class="alert bg-light text-center" *ngIf="data.image" [style.min-height.px]="properties.height">
            <img [src]="data.image" [style.max-height.px]="properties.height" [style.max-width.px]="properties.width">
        </div>
        <div class="mt-3">
            <button class="btn btn-sm btn-outline-primary" (click)="onToggleMode('EDIT')">
                <fa-icon icon="pencil-alt" class="mr-1" size="sm"></fa-icon> Change image
            </button>
        </div>
    </div>
    <div *ngIf="mode === 'EDIT'">
        <div class="alert bg-light text-center">
            <div>
                <img [src]="dataToEdit.image" *ngIf="dataToEdit.image" [style.max-height.px]="properties.height"
                    [style.max-width.px]="properties.width" />
                <div class="text-muted small mt-3 mb-3">
                    Recommended image size: {{properties.height}} X {{properties.width}} px.
                </div>
            </div>

            <sharedlib-load-localfile (fileLoaded)="onFileLoaded($event)" (error)="onFileLoadingError($event)"
                errorMessage="Invalid file. Choose image files." label="Update photo" accept="image/*" icon="user"
                cssClass="btn-sm btn-default" readAs="DATAURL">
            </sharedlib-load-localfile>
        </div>

        <div class="mt-3 text-right">
            <button class="btn btn-primary mr-2" (click)="onSave()">
                <fa-icon icon="save"></fa-icon> Save
            </button>
            <button class="btn btn-light" (click)="onToggleMode('VIEW')">
                <fa-icon icon="times"></fa-icon> Cancel
            </button>
        </div>
    </div>
</div>