<as-split [disabled]="true">
    <as-split-area size="50" class="bg-light">
        <div class="p-1">
            <div *ngIf="section">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <div ngbDropdown display="dynamic">
                                <a class="btn btn-link text-dark hide-caret" id="dropdownBasic1" ngbDropdownToggle
                                    title="All sections">
                                    <fa-icon icon="bars" [fixedWidth]="true" size="lg"></fa-icon>
                                </a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                                    <button ngbDropdownItem *ngFor="let col of section.columns"
                                        (click)="prepareEditor(col.code)">
                                        {{col.title}}
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-link text-dark pl-0 text-nowrap" *ngIf="prevColumn"
                                (click)="prepareEditor(prevColumn.code)">
                                <fa-icon icon="chevron-left" size="sm" class="text-muted"></fa-icon>
                                {{prevColumn.title}}
                            </button>
                        </div>

                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-link text-dark text-nowrap" *ngIf="nextColumn"
                            (click)="prepareEditor(nextColumn.code)">
                            {{nextColumn.title}}
                            <fa-icon icon="chevron-right" size="sm" class="text-muted"></fa-icon>
                        </button>
                    </div>
                </div>

                <div class="ml-5 mr-5 mt-3">
                    <div class="row" *ngIf="selectedColumn">
                        <div class="offset-md-3 col-md-9">
                            <sub class="text-uppercase text-muted"
                                *ngIf="section.properties && section.properties.column">
                                {{section.properties.column.title}}
                            </sub>
                            <h1>{{selectedColumn.title}}</h1>
                            <ngx-md [data]="selectedColumn.summary" class="text-muted"></ngx-md>
                        </div>
                    </div>

                    <sup class="text-uppercase text-muted" *ngIf="section.properties && section.properties.row">
                        {{section.properties.row.title}}
                    </sup>

                    <div class="row" *ngIf="section.rows">
                        <div class="col-md-3">
                            <button class="btn btn-sm mb-2 w-100 text-left rounded-0"
                                [ngClass]="{'btn-primary': row.code === rowCode, 'btn-link': row.code !== rowCode}"
                                *ngFor="let row of section.rows">
                                {{row.title}}
                            </button>
                        </div>
                        <div class="col-md-9">
                            <app-editors [section]="selectedSection" [mode]="mode" (save)="onUpdated($event)"
                                (toggleMode)="onToggleMode($event)" (itemSelected)="onItemSelected($event)">
                            </app-editors>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </as-split-area>
    <as-split-area size="50" class="p-3">
        <div class="text-right">
            <button class="btn btn-link text-danger" (click)="closeEditor()">
                <fa-icon [icon]="['far', 'times-circle']" size="2x"></fa-icon>
            </button>
        </div>

        <div class="p-5">
            <app-record-editor [item]="recordDataToEdit.data" (itemChange)="onItemChanged($event, recordDataToEdit)"
                *ngIf="recordDataToEdit" [showDelete]="false">
            </app-record-editor>
        </div>

    </as-split-area>
</as-split>