<div class="row mb-3">
    <div class="col-4">
        <button class="btn btn-sm btn-link" (click)="onCancel()">
            <fa-icon icon="chevron-left" class="mr-1"></fa-icon> back to list
        </button>
    </div>
    <div class="col-8 text-right">
        <button class="btn btn-sm btn-primary mr-2" [disabled]="!canUpdate()" (click)="onUpdate()">
            <fa-icon [icon]="['far', 'check-circle']"></fa-icon> Update
        </button>
        <button class="btn btn-sm btn-default" (click)="onCancel()">
            <fa-icon icon="times"></fa-icon> Cancel
        </button>
    </div>
</div>

<div class="alert bg-light" *ngIf="record">
    <label class="small">TITLE</label>
    <input type="text" class="form-control" placeholder="title" [appAutofocus]="true" [(ngModel)]="record.title"
        (keydown.control.enter)="onUpdate()" (keyup)="onTitleKeyup($event.target.value, record)">

    <div class="mt-2">
        <label class="small">DESCRIPTION</label>
        <textarea class="form-control" rows="3" placeholder="summary" [(ngModel)]="record.summary"
            (keydown.control.enter)="onUpdate()"></textarea>
    </div>

    <div class="row mt-2" *ngIf="hasDatatype">
        <div class="col-md-6">
            <label class="small">DATATYPE</label>
            <select class="form-control" [(ngModel)]="record.datatype">
                <option value="text">Text</option>
                <option value="list">List</option>
                <option value="select">Select</option>
            </select>
        </div>
        <div class="col-md-6" *ngIf="record.datatype === 'select'">
            <div class="ml-4">
                <label class="small">OPTIONS</label>
                <ng-container *ngFor="let option of record.options; let idx = index">
                    <div class="input-group input-group-sm mb-1">
                        <input type="text" class="form-control" [appAutofocus]="option.isNew"
                            [(ngModel)]="option.title" (keydown.enter)="onAddOptionIfLast(idx)"
                            (keydown.control.enter)="onUpdate()" (keyup)="onTitleKeyup($event.target.value, option)">
                        <div class="input-group-append">
                            <button class="btn btn-light text-danger border" (click)="onRemove(idx)">
                                <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div>
                    <button class="btn btn-sm btn-outline-primary" (click)="onAdd()">
                        <fa-icon icon="plus" class="mr-1"></fa-icon> add option
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>