<div class="pl-4 pr-4 pb-3" *ngIf="section">
    <div class="row mb-5">
        <div class="col-sm-3 pl-0">
            <button class="btn btn-link text-muted font-weight-light mt-3" (click)="closeEditor()">
                <fa-icon [icon]="['far', 'times-circle']" size="3x"></fa-icon>
            </button>
        </div>
        <div class="col-sm-6">
            <sub class="text-uppercase text-muted">{{section.code}}</sub>
            <h3>{{section.title}} </h3>
            <div class="text-muted text-truncate" *ngIf="section.summary" [title]="section.summary">
                {{section.summary}}
            </div>
        </div>
        <!-- <div class="col-sm-2 text-right pt-3">
            <button class="btn btn-link text-muted font-weight-light" (click)="closeEditor()">
                <fa-icon [icon]="['far', 'arrow-alt-circle-left']" size="2x"></fa-icon>
            </button>
            <button class="btn btn-link text-muted font-weight-light" (click)="closeEditor()">
                <fa-icon [icon]="['far', 'arrow-alt-circle-right']" size="2x"></fa-icon>
            </button>
        </div> -->
    </div>
</div>
<div class="popup-container">
    <div class="body-container bg-white">
        <div class="w-100 p-4">
            <div class="row">
                <div class="col-md-2">
                    <div class=" mb-5">
                        <div *ngFor="let s of sections">
                            <button
                                class="btn btn-white btn-sm p-2 rounded-0 border-0 text-left w-100 text-truncate text-muted"
                                (click)="selectSection(s.code)"
                                [ngClass]="{'active': section && section.code === s.code}">

                                <!-- <sub class="text-uppercase text-muted">
                                    {{s.code}}
                                    <span class="badge badge-info">{{s.datatype}}</span>
                                    <span class="badge badge-info" *ngIf="s.type === 'matrix'">{{s.type}}</span>
                                </sub> -->
                                <fa-icon *ngIf="s.icon && s.icon.length > 0" [icon]="s.icon" [fixedWidth]="true"
                                    class="float-left">
                                </fa-icon>

                                <div class="ml-4">
                                    {{s.title}}
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="offset-md-1 col-md-9" *ngIf="section">
                    <div class="mb-5">

                        <app-text-editor *ngIf="section.datatype === 'text'" [placeholder]="section.summary"
                            [mode]="mode" [(data)]="section.data" (save)="onUpdated($event, section)"
                            (toggleMode)="onToggleMode($event, section)" (itemChange)="onItemChanged($event, section)">
                        </app-text-editor>

                        <app-image-editor *ngIf="section.datatype === 'image'" [placeholder]="section.summary"
                            [mode]="mode" [(data)]="section.data" [properties]="section.properties"
                            (save)="onUpdated($event, section)" (toggleMode)="onToggleMode($event, section)"
                            (itemChange)="onItemChanged($event, section)">
                        </app-image-editor>

                        <app-list-editor *ngIf="section.datatype === 'list'" [mode]="mode" [(data)]="section.data"
                            (save)="onUpdated($event, section)" (toggleMode)="onToggleMode($event, section)"
                            (itemChange)="onItemChanged($event, section)" [selectedItem]="section.selectedItem">
                        </app-list-editor>

                        <div *ngIf="section.type === 'matrix'">
                            <app-matrix-editor [mode]="mode" [(section)]="section"
                                (itemChange)="onItemChanged($event, section)">
                            </app-matrix-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>