<as-split [disabled]="true">
    <as-split-area size="50" class="bg-light">
        <div class="p-1">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group btn-group-sm mt-2">
                        <div ngbDropdown display="dynamic">
                            <a class="btn btn-sm btn-link text-primary hide-caret" id="dropdownBasic1" ngbDropdownToggle
                                title="All sections">
                                <fa-icon icon="bars" [fixedWidth]="true" size="lg"></fa-icon>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                                <button ngbDropdownItem *ngFor="let s of sections" (click)="selectSection(s.code)"
                                    [ngClass]="{'active': section && section.code === s.code}">
                                    <fa-icon *ngIf="s.icon && s.icon.length > 0" [icon]="s.icon" [fixedWidth]="true"
                                        class="float-left text-muted" size="sm">
                                    </fa-icon>
                                    <div class="ml-4">{{s.title}}</div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-sm btn-link text-dark" *ngIf="prevSection"
                        (click)="selectSection(prevSection.code)">
                        <fa-icon icon="chevron-left" size="lg" class="float-left mt-3 text-muted"></fa-icon>
                        <div class="ml-4 text-left">
                            <sub class="text-primary">PREV</sub>
                            <div>{{prevSection.title}}</div>
                        </div>
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-sm btn-link text-dark text-right mr-5 pr-0" *ngIf="nextSection"
                        (click)="selectSection(nextSection.code)">
                        <fa-icon icon="chevron-right" size="lg" class="float-right mt-3 text-muted"></fa-icon>
                        <div class="mr-4">
                            <sub class="text-primary">NEXT</sub>
                            <div>{{nextSection.title}}</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="section" class="ml-5 mr-5 mt-3">
            <h1>{{section.title}} </h1>
            <ngx-md [data]="section.summary" class="text-muted"></ngx-md>

            <div class="mt-3 mb-5">
                <app-editors [section]="section" [mode]="mode" (save)="onUpdated($event, section)"
                    (toggleMode)="onToggleMode($event, section)" (itemSelected)="onItemSelected($event)">
                </app-editors>

                <app-matrix-customizer *ngIf="section.type === 'matrix'" [matrix]="section"  (save)="onCustomizeMatrix($event)">
                </app-matrix-customizer>
            </div>
        </div>
    </as-split-area>
    <as-split-area size="50" class="p-3">
        <div class="text-right">
            <button class="btn btn-link text-danger" (click)="closeEditor()">
                <fa-icon [icon]="['far', 'times-circle']" size="2x"></fa-icon>
            </button>
        </div>

        <div class="p-5">
            <app-record-editor [item]="recordDataToEdit.data" (itemChange)="onItemChanged($event, recordDataToEdit)"
                *ngIf="recordDataToEdit" [showDelete]="false">
            </app-record-editor>
        </div>

    </as-split-area>
</as-split>